body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
  }
a {
  text-decoration: none; 
  color: white;
}
.container {
    height: 80vh;
    overflow-y: auto;
    width: 50%;
}

.container ul {
    list-style: none;
    width: 100%;
    display: inline-block;
}

ul.chat li.message {
    color: black;
    border: solid #DCDCDC 0.5rem;
    border-radius: 1rem;
    background-color: #F8F8FF;
    margin: 1rem 0 1rem 0;
    width: max-content;
    font-size: 1.5rem;
    padding: 1rem;
}

ul.chat li.uMessage {
    border: solid #34c034 0.5rem;
    margin-left: auto;
    background-color: #34c034;
    color: white;
}

.input {
    width: 30%;
    margin: 0 auto 0 auto;
    border-radius: 1rem;
    padding: 0.5rem;
}

.input textarea {
    color: black;
    border: solid #000000 0.5rem;
    width: 75%;
}

.displayname {
    font-size: 1.5em;
}
button {
    color: blue;
}
#username {
    color: black;
}

.checkmark {
    display: inline-block;
    content: '';
    width: 2rem;
    height:2rem;
    position: relative;
}
.checkmark::before {
    position: absolute;
    content: '';
    width:3px;
    height:14px;
    background: blue;
    left: 16px;
    top:2.5px;
    transform: rotate(45deg);
}
.checkmark::after {
    position: absolute;
    content: '';
    width:3px;
    height: 8px;
    background:blue;
    left:10px;

    top:8px;
    transform: rotate(-45deg);

}